<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% load static %}
</head>

<body>
    {% if not request.path == '/login/' and not request.path == '/registration/' %}
    <header style="display: flex; flex-direction: row; justify-content: space-between; align-items: center; margin: 20px 10px 30px;">
        <div style="display: flex; flex-direction: row; gap: 15px; font-size: 25px">
            <p><a href="{% url '' %}">На главную</a></p>
            <p><a href="{% url 'sessions' %}">Сеансы</a></p>
        </div>
        <div style="display: flex; flex-direction: row; gap: 15px; font-size: 25px">
            <p><a href="{% url 'films' %}">Фильмы</a></p>
            <p><a href="{% url 'genres' %}">Жанры</a></p>
            <p><a href="{% url 'actors' %}">Актёры</a></p>
            <p><a href="{% url 'directors' %}">Режиссёры</a></p>
        </div>
        <div style="display: flex; flex-direction: row; gap: 15px; font-size: 25px">
            {% if user.is_authenticated %}
                <a href="{% url 'my_tickets' user.id %}">Мои билеты</a>
                <form action="{% url 'logout' %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="logout-button">Выйти</button>
                </form>

                {% else %}
                    <p>Вы не вошли в систему</p>
                    <p><a href="{% url 'login' %}">Войти</a></p>
                    <p><a href="{% url 'registration' %}">Зарегистрироваться</a></p>
            {% endif %}
        </div>
    </header>
    {% endif %}
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>